<div class ="last">
    <h3 class="contact-us">Contact Us</h3>

    <div class="big-box ">
        <div class="row justify-content-around d-flex">
        <div class="contact-box col-lg-5">
            <p><i class="bi bi-geo-alt"></i>Address: 123 Any Street</p><br>
            <p>Calgary, Alberta</p><br>
            <p>Canada</p><br>
            <p><i class="bi bi-telephone"></i><img src="/assets/images/telephone.svg"> 123 456 789</p><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.5370227460864!2d-114.1022095849883!3d51.067180086060034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53716f973ac55545%3A0x1ed0195d533b1fb7!2s1716%2016%20Ave%20NW%20%23300%2C%20Calgary%2C%20AB%20T2M%200L7!5e0!3m2!1sru!2sca!4v1654040916864!5m2!1sru!2sca" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
           
            
            
        </div>
        
        <div class="review-box col-lg-5 justify-content-center">
            <p><b>Leave us a review</b></p><br>
            <p>* * * * *</p><br>
             
        <form action="#">
            <input type="text" placeholder="Name"><br>
            <input type="text" placeholder="Email"><br>
            <textarea name="" id="" cols="16" rows="10"></textarea><br>
            <button class="form-send col-lg-2">SUBMIT</button>
        </form>
        </div>
    </div>
    </div>
    
</div>


<!-- <div class=“last”>

    <h3 class=“contact-us”>Contact Us</h3>
    <div class=“big-box”>
        <div class=“row justify-content-around”>
            <div class=“contact-box col-lg-5”>
                <p><i class=“bi bi-geo-alt”></i>Address: 123 Any Street</p><br>
                <p>Calgary, Alberta</p><br>
                <p>Canada</p><br>
                <p><i class=“bi bi-telephone”></i><img src ="../assets/images/telephone.svg"> 123 456 789</p><br>
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2034.5370227460864!2d-114.1022095849883!3d51.067180086060034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x53716f973ac55545%3A0x1ed0195d533b1fb7!2s1716%2016%20Ave%20NW%20%23300%2C%20Calgary%2C%20AB%20T2M%200L7!5e0!3m2!1sru!2sca!4v1654040916864!5m2!1sru!2sca"
                    width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="review-box col-lg-5 justify-content-center">
                <p><b>Leave us a review</b></p><br>
                <p>* * * * *</p><br>
            <form action=“#”>
                <input type=“text” placeholder=“Name”><br>
                <input type=“text” placeholder=“Email”><br>
                <textarea name=“” id=“” cols="16" rows=“10”></textarea><br>
                <button class="form-send col-lg-2">SUBMIT</button>
            </form>
            </div>
        </div>
    </div>
    </div> -->