<div class="container2">
  <div class="row justify-content-around">
    
    <div class="card">
    <img src="/assets/images/pizza.jpg" alt="...">
    <div class="card-body">
      <h3 class="card-title">Pizza</h3>
      <p class="card-text">An irrestible blend of 4 Italian cheeses, sprinkled with parsley and a drizzle of Tuscan Olive Oil.</p>
      <button type="button" class="btn btn-primary">$15</button>
    </div>
  </div>
  
  <div class="card">
    <img src="/assets/images/food-photographer-david-fedulov-FtpgFeUQuAY-unsplash.jpg" alt="...">
    <div class="card-body">
      <h3 class="card-title">Seafood</h3>
      <p class="card-text">Salmon fillet grilled over coals, served with mashed potatoes and grilled vegetables.</p>
      <button type="button" class="btn btn-primary">$30</button>
    </div>
  </div>
  
  <div class="card">
    <img src="/assets/images/pasta.jpg" alt="...">
    <div class="card-body">
      <h3 class="card-title">Pasta</h3>
      <p class="card-text">Simple and delicious with house-made tomato-basil marinara, drizzled with Tuscan Olive Oil.</p>
      <button type="button" class="btn btn-primary">$20</button>
    </div>
  </div>
  </div>
</div>


<div class="container2">
  <div class="row justify-content-around">
    <div class="card">
      <img src="/assets/images/steak.jpg" alt="...">
      <div class="card-body">
        <h3 class="card-title">Steak</h3>
        <p class="card-text">Sauteed sirioin steak, melted Provolonem Onions, Bell peppers, Mayo, Mustard.</p>
        <button type="button" class="btn btn-primary">$30</button>
      </div>
    </div>
    
    <div class="card">
      <img src="/assets/images/sushi.jpg" alt="...">
      <div class="card-body">
        <h3 class="card-title">Sushi</h3>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button type="button" class="btn btn-primary">$20</button>
      </div>
    </div>
    
    <div class="card">
      <img src="/assets/images/vegan.jpg" alt="...">
      <div class="card-body">
        <h3 class="card-title">Vegan</h3>
        <p class="card-text">Your choice of fresh veggies, greens, tossed with our signature Italian dressing.</p>
        <button type="button" class="btn btn-primary">$15</button>
      </div>
    </div>
    </div> 
</div>
