


<div class="big-container">
    <div class="img">
        <img src="/assets/images/brooke-lark-lcZ9NxhOSlo-unsplash (2).jpg" alt="">
    </div>

    <div class="info-container">
        <h2>Welcome to ABC Restaurant!</h2><br>
        <p>We are a nice place where you can order various food options</p><br>
        <p>Check out our menu and drinks.</p><br>
        <!-- <nav>
            <a routerLink="/" routerLinkActive="active">Login</a>
            <a routerLink="/" routerLinkActive="active">Sign In</a>
        </nav>  -->
        <button type="button" class="btn btn-primary"><b>Login</b></button>
        <button type="button" class="btn btn-primary"><b>Sign Up</b></button>
    </div>
 </div>

 
<!-- <script src="app.js"></script>  -->
