<section class="page-header">
    <div class="overly"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="content text-center">
                    <h1 class="mb-3">Cart</h1>
                    <p>Please check out items in your cart</p>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent justify-content-center">
                            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                            <li class="breadcrumb-item" aria-current="page">Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="cart shopping page-wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="product-list">
                    <form class="cart-form">
                        <table class="table shop_table shop_table_responsive cart" cellspacing="0">

                            <thead>
                                <tr>
                                    <th class="product-thumbnail"> </th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove"> </th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cart_item">
                                    <td class="product-thumbnail" data-title="Thumbnail">
                                        <a routerLink="/product-single"><img src="assets/images/cart-1.jpg"
                                                class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                alt=""></a>
                                    </td>
                                    <td class="product-name" data-title="Product">
                                        <a href="food">pizza</a>
                                    </td>

                                    <td class="product-price" data-title="Price">
                                        <a href="food">20</a>
                                    </td>


                                    <td class="product-quantity" data-title="Quantity">
                                        <div class="quantity">
                                            <label class="sr-only">5</label>
                                            
                                        </div>
                                    </td>

                                    <td class="product-subtotal" data-title="Total">
                                        <div class="amount">
                                            <label class="sr-only">100</label>
                                            
                                        </div>
                                    </td>
                                    <p>   <td class="checkout" data-title="checkout">
                                    
                                        <a href="home" class="btn btn-main btn-small">proceed to checkout</a>
                                    </td></p>

                                 
        


                                    <ins class="adsbygoogle" style="display: block; height: 280px;"
                                        data-ad-client="ca-pub-3852177646988840" data-ad-slot="5987063047"
                                        data-ad-format="auto" data-full-width-responsive="true"
                                        data-adsbygoogle-status="done"><ins id="aswift_3_expand"
                                            style="border: none; height: 280px; width: 510px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: inline-table;"><ins
                                                id="aswift_3_anchor"
                                                style="border: none; height: 280px; width: 510px; margin: 0px; padding: 0px; position: relative; visibility: visible; background-color: transparent; display: block;"></ins></ins></ins>

                                             
                                         
                                            
                                            