<div class="container1">

  <div class="row justify-content-around">
    <div class="card">
      <img src="/assets/images/coffee.jpg" alt="...">
      <div class="card-body">
        <h3 class="card-title">Coffee</h3>
        <p class="card-text">If you start your day with coffee on a regular basis, then you know that it doesn’t taste
          the same everywhere you go.</p>
        <button type="button" class="btn btn-primary">$5</button>
      </div>
    </div>
    <div class="card" width="30%">
      <img src="/assets/images/tea.jpg" alt="...">
      <div class="card-body">
        <h3 class="card-title">Tea</h3>
        <p class="card-text">A bright acidity is one that is bold and well pronounced, which means you can taste all of
          the flavors very clearly</p>
        <button type="button" class="btn btn-primary">$5</button>
      </div>
    </div>
    <div class="card" width="justify-content-around">
      <img src="/assets/images/fresh.jpg" alt="...">
      <div class="card-body">
        <h3 class="card-title">Fresh</h3>
        <p class="card-text">Created for snacking convenience, our 5 Fruit Blend Mini is the perfect healthy treat on-the-go
          </p>
        <button type="button" class="btn btn-primary">$6</button>
      </div>
    </div>
  </div>
</div>

<div class="container2">
  <div class="row justify-content-around">
    <div class="card">
      <img src="/assets/images/smoothie.jpg" alt="...">
      <div class="card-body">
        <h3 class="card-title">Smoothie</h3>
        <p class="card-text">Spinach and Banana Power,Kale Orange Banana,Milk Banana, Pineapple and Banana Smoothie with
          almond Milk.</p>
        <button type="button" class="btn btn-primary">$10</button>
      </div>
    </div>
    <div class="card">
      <img src="/assets/images/coctail.jpg" alt="...">
      <div class="card-body">
        <h3 class="card-title">Coctails</h3>
        <p class="card-text">A light bodied wine with hints of tannin, and acidity or Bardolino – a dry,
          soft, Italian wine that exemplifies a bitter aftertaste. </p>
        <button type="button" class="btn btn-primary">$10</button>
      </div>
    </div>
    <div class="card">
      <img src="/assets/images/coffee.jpg" alt="...">
      <div class="card-body">
        <h3 class="card-title">Matcha</h3>
        <p class="card-text">Special ground green tea, mix with your choice of water, oat milk, almond milk, coconut milk and mint.
          </p>
        <button type="button" class="btn btn-primary">$5</button>
      </div>
    </div>
  </div>

</div>