<div class="blink">
  <h2 class="offer-header">DEALS OF THE DAY!</h2>
</div>



<div class="container">
  <div class="row justify-content-around">
    <div class="card">
      <img src="/assets/images/pizza.jpg" alt="...">
      <div class="card-body">
        <h3 class="card-title">Pizza</h3>
        <p class="card-text">BUY 1 GET 1 FREE</p>
        <button type="button" class="btn btn-primary">$15</button>
      </div>
    </div>

    <div class="card">
      <img src="/assets/images/food-photographer-david-fedulov-FtpgFeUQuAY-unsplash.jpg" alt="...">
      <div class="card-body">
        <h3 class="card-title">Seafood</h3>
        <p class="card-text">-10% ONLY TODAY!</p>
        <button type="button" class="btn btn-primary">$30</button>
      </div>
    </div>

    <div class="card">
      <img src="/assets/images/salad.jpg" alt="...">
      <div class="card-body">
        <h3 class="card-title">Salad</h3>
        <p class="card-text">GET 50+ POINTS ON THIS ORDER</p>
        <button type="button" class="btn btn-primary">$20</button>
      </div>
    </div>
  </div>
</div>